@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik+Doodle+Shadow&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* RESET */

:root {
  --primary-color: #f3f3f3;
  --section-bg-color: #fbf9f6;
  --secondary-color: #cecece;
  --footer-color:#363333;
}

#root {
  display: flex;
  flex-direction: column;
}

section {
  background-color: var(--section-bg-color)
}

img {
  object-fit: cover;
  height: inherit;
  width: 100vw;
}




