@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik+Doodle+Shadow&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* RESET */

#root {
  display: flex;
  flex-direction: column;
}

.hero {
  height: 600px;
  position: relative;
}

section {
  height: 600px;
  background-color: rgb(250, 245, 241);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 209, 183);
  position: relative;
}

.cart-search {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-25%, -50%);
  display: flex;
  gap: 1rem;
  width: 120px;
}

.cart-search svg {
  cursor: pointer;
}

.cart-search svg:hover {
  fill: white;
}

.header-title {
  display: flex;
  align-items: center;
}

svg {
  width: 6rem;
  height: 6rem;
}

header h1 {
  font-family: 'Rubik Doodle Shadow';
  font-size: 3rem;
  margin-block: 2rem;
}

li {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin-inline: auto;
}

nav a {
  list-style: none;
  cursor: pointer;
  padding: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

nav a:hover,
nav a:focus {
  background-color: black;
  color: white;
}

img {
  object-fit: cover;
  height: inherit;
  width: 100vw;
}

.info {
  background-color: rgb(198, 184, 176);
  padding-block: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.legal {
  text-align: center;
  padding: 1rem;
  background-color: rgb(57, 52, 49);
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
}

h3 {
  margin-block: 1rem;
}

.call-to-action {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.call-to-action a {
  background-color: transparent;
  border: 2px solid white;
  padding: 1rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.call-to-action a:hover {
  background-color: rgb(255, 255, 255);
  color: black
}

.error-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  gap: 2rem;
}