.container {
  display: flex;
  height: 2rem;
  align-items: center;
  gap: 0.5rem;
}

.container svg {
  width: 2rem;
  height: 2rem;
}

.container path, .container circle {
  stroke: var(--font-color);
}

.container input {
  width: 2rem;
}

.quantity {
  background-color: white;
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  text-align: center;
}