.displayBag {
  padding: 8rem 4rem 4rem 4rem;
}

.product {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
}

.img {
  width: 150px;
  aspect-ratio: 1;
}

.h2, .tableContainer, .summary, .emptyBag {
  max-width: 1200px;
  margin-inline: auto;
}

.h2 {
  margin-block: 1rem;
  
}

.table {
  width: 100%;
}

.itemDesc {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.item th span {
  display: flex;
  justify-content: center;
}

.dividerContainer {
  padding-block: 1rem;
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.itemHeader {
  text-align: left;
}

.summary {
  display: flex;
  background-color: rgb(231, 231, 231);
  justify-content: center;
  gap: 3rem;
  align-items: center;
  margin-block: 2rem;
  padding: 2rem
}

.summary button {
  border: none;
  padding: 1rem;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.total {
  font-size: 1.5rem;
  font-weight: 600;
}

.remove div {
  display: flex;
  justify-content: center;
}

.table svg {
  width: 3rem;
  cursor: pointer;
}

@media (max-width: 770px) {
  .displayBag {
    padding: 8rem 0.5rem 0.5rem 0.5rem;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }

  .table thead {
    display: none; /* Hide the table header on mobile */
  }

  .table tbody {
    display: block;
    border-top: 1px solid #ddd;
  }

  .table tr {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
  }

  .table tr:first-child {
    border: none;
    margin: 0;
  }

  .table td {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }

  .table th {
    padding: 1rem;
  }

  .itemDesc {
    display: flex;
    align-items: center;
  }

  .itemDesc img {
    max-width: 50px; /* Adjust the maximum image width as needed */
    margin-right: 10px;
  }

  .remove {
    text-align: right;
  }

  .dividerContainer {
    display: none; /* Hide the divider on mobile */
  }

  .summary {
    text-align: center;
    gap: 1rem;
    padding: 1rem;
  }

  .total {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .table tr {
    display: block;
  }
}
