.signUp {
  padding-block: 3rem;
  background-color: var(--sign-up-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--font-color);
}

.signUp input {
  border: none;
  padding: 0.5rem;
  width: 250px;
  border-radius: 5px 0  0 5px;
}

.signUp button {
  border: none;
  padding: 0.5rem;
  background-color: var(--dark-button);
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
}

@media (max-width: 500px) {
  .signUp input {
    width: 200px;
  }

  .signUp h3 {
    font-size: 1rem;
    text-align: center;
  }
}