.header {
  background-color: rgb(255, 255, 255);
  padding-inline: 1rem;
  position: fixed;
  width: 100%;
  z-index: 3;
  padding-block: 2rem;
}

.content {
  max-width: 1500px;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerTitle {
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.header svg {
  width: 3rem;
  height: 3rem;
}

.headerTitle svg {
  width: 4rem;
  height: 4rem;
}

.header h1 {
  font-family: 'Rubik Doodle Shadow';
  font-size: 2.5rem;
  margin-inline: 0.5rem;
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 1.4rem;
  }

  .header svg {
    width: 2rem;
    height: 2rem;
  }

}

li {
  list-style: none;
}

.mainNav {
  flex-grow: 1;
}

.mainNav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin-inline: auto;
}

.mainNav a {
  list-style: none;
  cursor: pointer;
  padding: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: 0.1s;
}

.mainNav a:hover,
.mainNav a:focus {
  border-bottom: 5px solid black;
}

.mainNav a.active {
  border-bottom: 5px solid black;
}

.burger, .exit {
  cursor: pointer;
}

.menu {
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height: 50vh;
  background-color: white;
  z-index: 10;
}

.menuTitle {
  display: flex;
  padding-block: 2rem;
  padding-inline: 1rem;
  justify-content: space-around;
}

.menuNav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3rem;
}

.menuNav a {
  list-style: none;
  cursor: pointer;
  padding: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: 0.1s;
}
.menuNav a:hover,
.menuNav a:focus {
  border-bottom: 5px solid black;
}

.menuNav a.active {
  border-bottom: 5px solid black;
}