.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.65);
  position: relative;
  padding-inline: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.headerTitle {
  display: flex;
  align-items: center;
}

.header svg {
  width: 3rem;
  height: 3rem;
}

.headerTitle svg {
  width: 4rem;
  height: 4rem;
}

.header h1 {
  font-family: 'Rubik Doodle Shadow';
  font-size: 2.5rem;
  margin-block: 2rem;
}

li {
  list-style: none;
}

.mainNav {
  flex-grow: 1;
}

.mainNav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin-inline: auto;
}

.mainNav a {
  list-style: none;
  cursor: pointer;
  padding: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: 0.1s;
}

.mainNav a:hover,
.mainNav a:focus {
  border-bottom: 5px solid black;
}