.container {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;
}

.container:hover {
  transform: scale(1.2);
}

.counter {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
}