.content {
  padding: 10rem 4rem 4rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 7rem;
  max-width: 1200px;
  margin-inline: auto;
}

.content p {
  font-size: 1.2rem;
}

.img {
  height: 500px;
  aspect-ratio: 1;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  gap: 2rem;
}

@media (max-width:500px) {
  .content {
    padding: 7rem 1rem 1rem 1rem;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}