.productDetail {
  padding: 10rem 4rem 4rem 4rem;
}

.content {
  max-width: 1000px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 7rem;
}

.img {
  height: 400px;
  /* width: 400px; */
}

.details {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.title {
  font-size: 2rem;
}

.button {
  padding: 1rem;
  width: fit-content;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  background-color: black;
  color: white;
}

.price {
  font-size: 1.5rem;
}

.addToBag {
  display: flex;
  gap: 1rem;
  align-items: center;
}