.card {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.606);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
  gap: 1rem;
  padding-inline: 1rem;
}

.overlay p {
  font-size: 1.3rem;
  text-align: center;
  /* padding: 1rem; */
}

.moreInfo {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hide {
  opacity: 0;
  height: 0;
}

.img {
  aspect-ratio: 1;
  height: inherit;
  object-fit: cover;
}

@media (max-width: 900px) {

  .overlay {
    position: static;
  }

}

/* @media (max-width: 400px) {
  .moreInfo {
    margin-bottom: 1rem;
  }
} */