.container {
  padding-block: 5rem;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--section-bg-color);
}

.wrapper {
  position: relative;
}

.img {
  width: 400px;
  aspect-ratio: 1;
}

.a {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 5px;
  font-weight: 500;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.405);
}